@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Quicksand";
}

body {
  color: #fefeff;
  background: linear-gradient(
      to right,
      #010a1f,
      #00112b
    )
    #010a1f;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
